/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgb(255, 206, 80);
  text-align: center;
}

.cont-footer {
  display: flex;
  justify-content: space-between;
}
